mat-card {
  max-width: 50%;
  margin: 2em auto;
  text-align: center;
  padding: 15px;
}

.full-width {
  width: 100%;
}

.min-witdth {
  width: 100%;
  min-width: 150px;
}

button {
  margin-top: 10px;
  margin-left: 5px;
}
