@use '@angular/material' as mat;
@include mat.core;

$custom-app-primary: mat.define-palette(mat.$red-palette, 500);
$custom-app-secondaty: mat.define-palette(mat.$indigo-palette, A200, A400, 700);
$custom-app-warn: mat.define-palette(mat.$red-palette);

$custom-theme: mat.define-light-theme((
  color: (
    primary: $custom-app-primary,
    accent: $custom-app-secondaty,
    warn: $custom-app-secondaty,
  )
));

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include mat.all-component-themes($custom-theme);
