<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Harmonify</span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon add-icon"
      aria-label="Example icon-button with add icon"
    >
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
</p>
